h1, h2, h3 {
     text-align: center;
     margin-bottom: 0;
}
 div.page-content {
     display: flex;
     flex-direction: column;
     align-content: center;
     align-self: center !important;
     align-items: center;
}
 div.section{
     width: 50vw !important;
     text-align: center;
}
 div.section:not(:first-of-type) {
     margin-top: clamp(50px, 10vh, 200px);
}
 div.article {
     display: flex;
     flex-direction: column;
     min-width: 200px;
     max-width: 900px;
     margin-bottom: 20px;
}
 div.article:not(:first-of-type) {
     margin-top: clamp(20px, 5vh, 100px);
}
 div.article h2 {
     align-self: center;
     cursor: pointer;
     display: block;
     position: relative;
}
 div.article h2::before {
     content: "";
     position: absolute;
     display: block;
     width: 0%;
     height: var(--nav-line);
     bottom: 0;
     left: 0;
     background-color: var(--main-text-color);
     transform: translateY(100%);
     transition: width 0.2s ease;
}
 div.article h2:hover::before {
     width: 100%;
}
 div.article h3 {
     font-size: 1.2em !important;
}
 div.article h3::after {
     content: ".";
}
