div.card {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     position: relative;
     top: 10%;
     font-variant: unset;
     height: max(450px,45vh);
     border: solid 10px;
     border-radius: max(20px, 2vw);
     background-color: var(--red);
     color: var(--secondary-text-color);
}
 div.card>h1 {
     font-variant: unset;
     font-size: max(20px, 2vw) !important;
}
 div.card>h1>span  {
     font-size: max(10px, 1vw);
     transform: translateY(min(10px, 1vw));
     position: absolute;
}
 