h1, h2, h3 {
     text-align: center;
     margin-bottom: 0;
}
 div.page-content {
     display: flex;
     flex-direction: column;
     align-content: center;
     align-self: center !important;
     align-items: center;
}
 div.section{
     width: 50vw !important;
     text-align: center;
     display: flex;
     flex-direction: column;
     align-items: center;
}
 div.section:not(:first-of-type) {
     margin-top: clamp(50px, 10vh, 200px);
}
 div.project {
     display: flex;
     flex-direction: column;
     min-width: 200px;
     max-width: 900px;
     margin-bottom: 20px;
}
 div.project:not(:first-of-type) {
     margin-top: clamp(20px, 5vh, 100px);
}
 div.project h2 {
     align-self: center;
     cursor: pointer;
     display: block;
     position: relative;
}
 div.project h2::before {
     content: "";
     position: absolute;
     display: block;
     width: 0%;
     height: var(--nav-line);
     bottom: 0;
     left: 0;
     background-color: var(--main-text-color);
     transform: translateY(100%);
     transition: width 0.2s ease;
}
 div.project h2:hover::before {
     width: 100%;
}
 div.project h3 {
     font-size: 1.2em !important;
}
 div.project h3::after {
     content: ".";
}
 div.techstack {
     margin-top: 15px;
     text-align: center;
     font-size: 0.7em;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-content: flex-start;
     justify-content: center;
}
 div.techstack span {
     margin-left: 10px;
}
 