h1, h2, h3 {
    text-align: center;
	margin-bottom: 0;
}

div.section{
    width: 50vw;
    text-align: -webkit-center;
	text-align: -moz-center;
}

div.section:not(:first-of-type) {
	margin-top: clamp(50px, 10vh, 200px);
}

div.project {
    display: flex;
    flex-direction: column;
	min-width: 200px;
	max-width: 900px;
	margin-bottom: 20px;
}


div.project u {
    align-self: center;
	cursor: pointer;
}

div.techstack {
	margin-top: 15px;
	font-size:smaller;
    text-align: center;
}

div.techstack span {
	margin-left: 10px;
}
