h1, h2, h3 {
    text-align: center;
	margin-bottom: 0;
}

div.project {
    display: flex;
    flex-direction: column;
	min-width: 200px;
	max-width: 900px;
}


div.project a {
    align-self: center;
}

div.techstack {
	margin-top: 15px;
	font-size:smaller;
    text-align: center;
}

div.techstack span {
	margin-left: 10px;
}
