@import url(fonts.css);

:root {
    --black: #0A0908;
    --red: #49111C;
    --white: #F2F4F3;
    --green: #5C946E;
    --purple: #9381FF;
	--flame: #E4572E;
	--lime: #FCFF4B;
	--mint: #E6EFE9;
	--sky: #42CAFD;
	--magenta: #7C238C;
	
	--main-border-color: var(--black);
	
	--main-bg-color: var(--white);
	--secondary-bg-color: var(--black);
	
	
	--main-text-color: var(--black);
	--secondary-text-color: var(--white);
}


html {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-content: stretch;
    flex-direction: column;
	
    height: 100vh;
    width: 100vw;
	
	-webkit-user-select: none;     
	-moz-user-select: none;
	user-select: none;
}

body {
	background-color: var(--main-bg-color);
    color: var(--main-text-color);
    margin: 0px;
    height: 100vh;
    width: 100vw;
	font-family: 'Alata', sans-serif;
}

h1, h2, h3, h4 {
    font-variant: small-caps;
}

#page {
    position: fixed;
    top: 0px;
    bottom: 0px;
    overflow-y: scroll;
	width:100%;
	padding: 0px;
    display: flex;
    flex-flow: column;
	
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#page::-webkit-scrollbar {
  display: none;
}


#nav {
    display: flex;
    position: fixed;
    top: 10%;
    z-index: 2;
    right: 10px;
    flex: 0 1 auto;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
	
	width: 65px;
}

#nav div.current {
	padding-left: 10px;
    border-left: solid;
}

#nav div.current:hover {
	padding-left: 10px;
}

#nav div {
    display: block;
    position: relative;
	height: 25px;
	width: 65px;
    margin-top: 5px;
    margin-bottom: 5px;
	
    transition: padding-left .2s;
	
	cursor: pointer;
}
#nav div:hover {
	padding-left: 5px;
}

#content {
    display: contents;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    flex: 0 1 auto;
	
    text-align: justify;
}

#content div {
	position: relative;
	top: 0px;
	left: 0px;
	padding: 50px 175px 50px 100px;
    align-self: center;
	transition: all .3s;
}
#content div div {
	position: unset;
	top: unset;
	left: unset;
	padding: unset;
    align-self: center;
}

#filler {
    flex: 1 1 auto;
}



#footer {
	background-color: var(--secondary-bg-color);
	color: var(--secondary-text-color);
	
    position: relative;
    bottom: 0%;
	width: 100%;
    padding: 20px;
    text-align: center;
    flex: 0 1 40px;
    box-sizing: border-box;
	
    z-index: 0;
}

#footer small {
}

a {
	color: inherit;
}
